@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Fascinate+Inline&family=Pontano+Sans&family=Poppins&family=Quicksand&family=Urbanist&family=Vast+Shadow&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #EBF5DF;
  color: #89956F;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #C7D4AA;
  font-family: 'Urbanist', sans-serif;
}

.header a {
  color: #E8871E;
  text-decoration: none;
}

.header a:hover {
  color: #EDB458;
}

/* a, a:visited, a:active {
  font-weight: bold;
  color: #3F8098;
  text-decoration: none;
}

a, a:hover {
  color: #5FA8D3;
} */

.info {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  font-family: 'Urbanist', sans-serif;
}

.pageTitle {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #EB9E3B;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subtitle {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #EDB458;
}

.points, .images {
  background-color: #D3E5C5;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}

.images {
  text-align: center;
}

.image {
  width: 500px;
  height: auto;
}

.citations {
  color: #EB9E3B;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}

h4, h3, h2 {
  padding: 0px;
}

h3 {
  color: #E8871E;
  font-size: 24px;
}

h4 {
  color: #E8871E;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 10px;
}

.company, .money {
  display: flex;
  justify-content: space-around;
}

.pollutant {
  margin-bottom: 25px;
  padding-left: 150px;
  padding-right: 100px;
  vertical-align: middle;
}
